{{>layout/header}}  <!-- 현재 파일(index.mustache)의 위치를 기준으로 특정 파일을 탐색하여 내용을 불러옴 -->
    <h1>스프링 부트로 시작하는 웹 서비스 ver.2</h1>
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
</body>
{{>layout/footer}}